@font-face {
  font-family: 'Pacifico-Regular';
  src: url('../assets/fonts/Pacifico-Regular.ttf');
  src: url('../assets/fonts/Pacifico-Regular.ttf') format("truetype"); /* IE9 Compat Modes *//* IE6-IE8 */
}