doctype
html(lang='en')
    head
        meta(name='viewport')
        meta(content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv="X-UA-Compatible")
        title= 1
    body
        header.header
            .header_top
                .container
                    .row
                        .col-xs-4
                        .col-xs-8
                            nav
                                ul.main-menu
                                    each val in ['Buy', 'Sell', 'Rent', 'Landlords', 'About us']
                                        li
                                            a= val
            .header_bottom
                div.v-slider-wrapper
                    ul.single-item
                        each val in ['http://cdn.fishki.net/upload/post/201411/26/1334081/57542_trava_priroda_doroga_leto_1920x1200_wwwgdefonru.jpg', 'http://fotointeres.ru/wp-content/uploads/2011/09/unrealistic_scenes_nathan_spotts_09.jpg', 'http://elitefon.ru/images/201211/elitefon.ru_18998.jpg', 'http://7oom.ru/wp-content/uploads/foto-priroda-23.jpg']
                            li
                                img(src= val)

        section.s-main
            .container
                .row
                    .col-md-12
                        a(href='search-main.html') Поиск
                .row
                    - var max=100
                        .col-md-12
                            - for(var i=0; i<max; i++)
                                hr

        footer

